{% extends './base.html' %}
{% block content %}

<h1>珈琲情報の{{ object|yesno:'更新,作成'}}</h1>
<ul>
    <li>数字は半角で入力してください</li>
    <li>その他抽出の際に意識した点、豆の追加情報などがあれば「抽出コメント」欄に書いてください(なくても全然OKです)</li>
    <li>アイスコーヒーの場合は、その旨を「抽出コメント」欄に書いてもらえると嬉しいです</li>
</ul>

<form action='' method='post'>{% csrf_token %}
    {{ form.as_p }} <!--全ての項目を表示-->
    <button type='submit' class='submit'>{{ object|yesno:'更新,作成'}}</button>
</form>
<div class=foot-link>
    <!--JavaScriptの呼び出しで、前のページに戻る機能を実現-->
    <a href='JavaScript:history.back()'>&lt; 戻る</a>
</div>

{% endblock %}
